# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Example binaries
**/build
**/output
**/main
**/c2b

# Raylib Demo
examples/raylib-demo/*5.5*
examples/raylib-demo/lib


# Clangd
**/compile_commands.json
**.cache

# Log example
examples/logger/log.txt
